<h1>Edit To Do Item</h1>

<%= simple_form_for :todoitem, method: :put do |f| %>
  <%= f.input :title, :label => "Title" %>
  <%= f.input :description, :label => "Description" %>
  <%= f.input :status, :label => "Status" %>
  <%= f.button :submit, class: "btn-primary" %>

<% end %>
