


<div class="container">


  <div>
    <h3>Top Level Message</h3>
  </div>




  <div>
    <h1>Headline message for Site</h1>
  </div>


  <div class="justify-content">
    <%= image_tag "https://picsum.photos/seed/picsum/900/600" %>
  </div>



  <div>
    <h1>INDEX PAGE</h1>


    <h2>Below is your to do list - GET IT DONE NOW!</h2>

    <br>
    <%= link_to "Create New To Do Item", new_path %>
    <br>

    <hr>

    <% @todoitems.each do |item|%>
      <%= item.title %>
      <%= item.description %>
      <%= item.status %>
      <br>
        <%= link_to "Show Item #{item.id}", show_path(item) %>
      <br>
        <%= link_to "Edit Item #{item.id}", edit_path(item) %>
      <br>
        <%= link_to "Delete Item #{item.id}", delete_path(item), :confirm => 'sure?', :method => 'delete' %>
      <br>
      <hr>
    <% end %>

    <hr>

  </div>

</div>

