


<div class="container page-width">

<div class="d-flex align-items-center header-section">
  <div>
    <div>
      <h1>Change your life, learn to code</h1>
    </div>

    <div>
      <p>Through immersive coding bootcamps, Le Wagon teaches you the skills and entrepreneurial mindset you need to thrive, now and in the future.</p>
    </div>
    <div class="d-flex justify-content-between">
      <%= link_to "Discover our courses", show_path(ToDoItem.first), class: "red-call-to-action-button" %>
      <%= link_to "Find A Campus", show_path(ToDoItem.first), class: "white-call-to-action-button" %>
    </div>
  </div>
  <div class="justify-content">
    <%= image_tag "https://picsum.photos/seed/picsum/900/600", class: "image-fit-box" %>
  </div>
</div>











  <div>
    <h1>INDEX PAGE</h1>


    <h2>Below is your to do list - GET IT DONE NOW!</h2>

    <br>
    <%= link_to "Create New To Do Item", new_path %>
    <br>

    <hr>

    <% @todoitems.each do |item|%>
      <%= item.title %>
      <%= item.description %>
      <%= item.status %>
      <br>
        <%= link_to "Show Item #{item.id}", show_path(item) %>
      <br>
        <%= link_to "Edit Item #{item.id}", edit_path(item) %>
      <br>
        <%= link_to "Delete Item #{item.id}", delete_path(item), :confirm => 'sure?', :method => 'delete' %>
      <br>
      <hr>
    <% end %>

    <hr>

  </div>

</div>

